* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* MOBILE FIRST VARIABLES */
:root {
    /*COLORS */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-blue: #1e00ff;
    --color-pink: #ef3339;
    --color-green: #029660;

    /* TIPOGRAFIA - MOBILE */
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 20px;
    --font-size-xl: 24px;
    --font-size-xxl: 32px;

    /* SPACING - MOBILE */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
}
body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: var(--font-size-lg);
}
/* NAVEGADOR */
button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}
nav {
    display: flex;
    padding: var(--spacing-md);
    position: relative;
}
a {
    text-decoration: none;
}
ol,
li {
    list-style: none;
}
.menu {
    margin-left: 2rem;
}
.menu-logo {
    z-index: 101;
}
.menu-logo.menu-active {
    color: var(--color-white);
}
.menu-logo svg {
    transition: color 0.4s ease;
}
.menu-logo button {
    color: inherit;
    transition: color 0.4s ease;
}
.nav-links {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 4rem;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--color-blue);
    transform: translateY(-100%);
    animation: slideOut 0.4s forwards;
}
.nav-links.open {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-blue);
    z-index: 100;
    animation: slideIn 0.4s forwards;
}
.nav-links a,
h3 {
    display: block;
    color: var(--color-white);
    line-height: 3rem;
    padding-left: 1rem;
}
.nav-links li a,
.nav-links h3 {
    font-size: var(--font-size-lg);
    font-weight: normal;
}
.nav-links.nav-link-register a {
    font-size: var(--font-size-sm);
}
.more-ableton-links li a {
    font-size: var(--font-size-sm);
}
.more-ableton-links.last-links {
    display: grid;
    grid-template-columns: repeat(4, 50vw);
    padding-bottom: 1.5rem;
    overflow-x: auto;
    position: relative;
}
.more-ableton-links.last-links::after {
    content: "";
    position: fixed;
    width: 2.5rem;
    height: 100%;
    right: 0;
    top: 0;
    background: linear-gradient(90deg, rgba(0, 0, 255, 0), var(--color-blue));
    pointer-events: none;
}
.more-ableton-links.last-links h4,
p {
    line-height: 1.5rem;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}
